/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}


/************************ UTILITIES **************************/
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-right {
  text-align: right;
}

@media (max-width: 799px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 800px) {
  .mobile {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

.highlight {
  background-color: #faf8be;
}

/************************ SPECIFIC ****************************/

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

header {
  margin-bottom: 15px;
}

.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.row-or-column {
  display: flex;
  flex-direction: column;
}

.row-or-column>* {
  margin-bottom: 8px;
}

.row-or-column>:last-child {
  margin-bottom: 0px;
}

@media (min-width: 800px) {
  .row-or-column {
    flex-flow: row wrap;
    align-items: baseline;
  }
  .row-or-column>* {
    margin-right: 8px;
    /* for when the row wraps, some spacing between */
    margin-bottom: 8px;
  }
  .row-or-column>:last-child {
    margin-right: 0px;
  }
}

.search-box>input {
  width: 100%;
  box-sizing: border-box;
}

.search-box {
  position: relative;
  display: inline-block;
}

.search-box .search-results {
  width: 100%;
  position: absolute;
  background: white;
  border: 1px solid black;
  border-top: none;
}

.search-box .search-results > div {
  padding: 0px 8px;
}

.search-box .search-results > div:hover {
  cursor: pointer;
}

.search-box .search-results div.highlighted {
  background: #354459;
  color: #eee;
}

button {
  margin: 20px 0px;;
  padding: 4px;
  width: 100%;
}

@media (min-width: 800px) {
  button {
    width: auto;
  }
}

.sort-by-group>:first-child {
  margin-right: 5px;
}

.search-result-planet {
  border: 2px solid #293c4b;
  border-radius: 4px;
  padding: 6px;
  margin: 8px 0px;
}

.search-result-planet .jumps {
  text-align: center;
  margin: 0px 12px 0px 4px;
}

.search-result-planet .jumps :first-child {
  font-size: 2.5rem;
  margin: -8px 0px;
}

.search-result-planet .jumps :last-child {
  color: #777;
  font-size: .5rem
}

.search-result-planet .resource {
  border: 1px solid #293c4b;
  border-radius: 2px;
  margin: 2px;
  padding: 0px 3px;
  font-size: .8rem
}

.search-result-planet .resource svg {
  margin-right: 2px;
}

.search-result-planet.desktop > :last-child{
  flex-grow: 1;
}


.color-null {
  color: #c22929;
}
.color-point-0 {
  color: #c24f29;
}
.color-point-1 {
  color: #c27529;
}
.color-point-2 {
  color: #c29c29;
}
.color-point-3 {
  color: #c2c229;
}
.color-point-4 {
  color: #9cc229;
}
.color-point-5 {
  color: #75c229;
}
.color-point-6 {
  color: #4fc229;
}
.color-point-7 {
  color: #29c229;
}
.color-point-8 {
  color: #29c24f;
}
.color-point-9 {
  color: #29c275;
}
.color-1 {
  color: #29c29c;
}
